* {
  font-family: Roboto, sans-serif;
}

.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vw 5vw;
}

.header-breadcrumb {
  height: 7vh;
  z-index: 10;
  display: flex;
  width: 100%;
  align-items: center;
}

.header-breadcrumb > .row {
  width: 100%;
}

.floors-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}

.fi-block {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.fi-block:hover, .fi-block.hovered {
  cursor: pointer;
  color: black !important;
  background-color: #e6ecec;
  border-radius: 10px;
}

.fi-room {
  display: inline-block;
  font-size: 20px;
  min-width: 11vw;
  max-width: 30vw;

  margin-right: 3vw;
  
  cursor: pointer;
}

.fi-room:hover {
  color: black !important;
}

.rooms-list {
  height: 93vh;
  overflow-y:auto;
  margin-left: -2rem;
  padding-right: 1rem;
}

.room-block {
  box-sizing: border-box;
  border: 2px solid transparent !important;
  background-color: #F8F9FA !important;
}

.room-block:hover, .room-block:focus-within, .room-block.hovered, .room-block.selected {
  border: 2px solid #212529 !important;
  background-color: #e6ecec !important;
}

.no-expand {
  cursor: default !important;
}

.no-expand::after {
  display: none !important;
}