* {
  font-family: Roboto, sans-serif;
}

.fi-room {
  display: inline-block;
  font-size: 20px;
  min-width: 11vw;
  max-width: 30vw;

  margin-right: 3vw;
  
  cursor: pointer;
}

.fi-room:hover {
  color: black !important;
}

.rooms-list {
  height: 93vh;
  overflow-y:auto;
  margin-left: -2rem;
  padding-right: 1rem;
}

.room-block {
  box-sizing: border-box;
  border: 2px solid transparent !important;
  background-color: #F8F9FA !important;
}

.room-block:hover, .room-block:focus-within, .room-block.hovered, .room-block.selected {
  border: 2px solid #212529 !important;
  background-color: #e6ecec !important;
}

.no-expand {
  cursor: default !important;
}

.no-expand::after {
  display: none !important;
}